<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewpoint" content="width = device-width, initial-scale = 1">
  <title>Citibike Angels Route Calculator</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

  <script>
  angular.module('app', ['ui.bootstrap']).controller("Ctrl", function($scope, $http) {
    $scope.routes = {};
    $scope.places = {};
    $scope.sourceModel = { value : '(Source)' };
    $scope.destModel = { value : '(Destination)' };
    $scope.location_available = 'true';
    $scope.location  = { latitude : null, longitude : null };
    $scope.get_places = function() {
      $http({ method: 'GET', url: 'https://earls.qhigh.com:3001/?get_json_places[]' }
       ).then(function successCallback(response) { $scope.places = response.data; },
       function errorCallback(response) { });
    };
    $scope.get_routes = function() {
      $scope.routes = {};
      var source = "`" + $scope.sourceModel.value;
      var dest = "`" + $scope.destModel.value;

      if(source == "`(Source)" || dest == "`(Destination)") {
        return;
      }

      if (source == '`current location') {
        if ($scope.location_available == 'true') {
          source = $scope.location.latitude + " " + $scope.location.longitude;
        } else {
          alert('Current Location is not Supported. Please Choose Another Source.');
        }
      }
      if (dest == '`current location' ) {
        if ($scope.location_available == 'true') {
          dest = $scope.location.latitude + " " + $scope.location.longitude;
        } else {
          alert('Current Location is not Supported. Please Choose Another dest.');
        }
      }

      $http({ method: 'GET', url: 'https://earls.qhigh.com:3001/?get_json_routes["' + source + '";"' + dest + '"]' }
       ).then(function successCallback(response) { $scope.routes = response.data; },
       function errorCallback(response) { });
   };

   $scope.getCurrentLocation = function() {
     if (navigator.geolocation) {
       navigator.geolocation.getCurrentPosition($scope.radioPosition, $scope.radioError);
     } else {
       $scope.location_available = 'false';
       alert('unable to get location: Location information not supported.');
     }
   };

  $scope.radioPosition = function(pos) {
     $scope.location = { latitude : pos.coords.latitude.toPrecision(7), longitude : pos.coords.longitude };
   }

  $scope.radioError = function(error) {
     $scope.location_available = 'false';
     alert('unable to get location: ' + error.message);

   }
 });
  </script>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div ng-controller="Ctrl">
    <div class="container">
      <div class="container"> <!-- navigation -->
        <div class="row" ng-init="get_places()">
          <p>Choose Source:</p>
        </div>
        <div class="row">
          <div class="btn-group-justified">
            <label class="btn btn-primary" ng-model="sourceModel.value" ng-click="getCurrentLocation(); get_routes()" uib-btn-radio="'current location'">Current Location</label>
            <label class="btn btn-primary" ng-model="sourceModel.value" ng-click="get_routes()" uib-btn-radio="'{{item.name}}'" ng-repeat="item in places">{{item.name}}</label>
          </div>
        </div>
        <div class="row">
          <p>Choose Destination:</p>
        </div>
        <div class="row">
          <div class="btn-group-justified">
            <label class="btn btn-primary" ng-model="destModel.value" ng-click="getCurrentLocation(); get_routes()" uib-btn-radio="'current location'" ng-click="getCurrentLocation()">Current Location</label>
            <label class="btn btn-primary" ng-model="destModel.value" ng-click="get_routes()" uib-btn-radio="'{{item.name}}'" ng-repeat="item in places">{{item.name}}</label>
          </div>
      </div>

      <div class="container">  <!-- results table -->
        <div class="row">
          <h4>Route from {{sourceModel.value}} to {{destModel.value}}:</h4>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Points</th>
                <th>Total Distance</th>
                <th>Start</th>
                <th>End</th>
                <th>Start Distance</th>
                <th>End Distance</th>
                <th>Route</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in routes">
                <td>{{item.points}}</td>
                <td>{{item.total_distance}}</td>
                <td><a ng-href={{item.start_route}}>{{item.start_name}}</a></td>
                <td><a ng-href={{item.end_route}}>{{item.end_name}}</a></td>
                <td>{{item.start_distance}}</td>
                <td>{{item.end_distance}}</td>
                <td><a ng-href={{item.route}}>route</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
