<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Citibike Angels Route Calculator</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.2/ui-bootstrap-tpls.min.js"></script>
  <script>
  angular.module('app', ['ui.bootstrap']).controller("Ctrl", function($scope, $http) {
    $scope.routes = {};
    $scope.places = {};
    $scope.sourceModel = {};
    $scope.destModel = {};
    $scope.location_available = 'true';
    $scope.location  = { latitude : null, longitude : null };
    $scope.get_places = function() {
      $http({ method: 'GET', url: 'https://earls.qhigh.com:3001/?get_json_places[]' }
       ).then(function successCallback(response) { $scope.places = response.data; },
       function errorCallback(response) { });
    };
    $scope.get_routes = function() {
      $scope.routes = {};

      if($scope.sourceModel.name == "" || $scope.destModel.name == "") return;

      if ($scope.sourceModel.name == 'Current Location' && $scope.location_available != 'true')
        alert('Current Location is not Supported. Please Choose Another Source.');

      if ($scope.destModel.name == 'Current Location' && $scope.location_available != 'true')
        alert('Current Location is not Supported. Please Choose Another dest.');

      $http({ method: 'GET', url: 'https://earls.qhigh.com:3001/?get_json_routes["' + $scope.sourceModel.latitude + " " + $scope.sourceModel.longitude + '";"' + $scope.destModel.latitude + " " + $scope.destModel.longitude + '"]' }
       ).then(function successCallback(response) { $scope.routes = response.data; },
       function errorCallback(response) { });
   };

   $scope.getCurrentLocation = function() {
     if (navigator.geolocation) {
       navigator.geolocation.getCurrentPosition($scope.radioPosition, $scope.radioError);
     } else {
       $scope.location_available = 'false';
       alert('unable to get location: Location information not supported.');
     }
   };

  $scope.radioPosition = function(pos) {
     $scope.location = { latitude : pos.coords.latitude.toPrecision(7), longitude : pos.coords.longitude }
   };

  $scope.radioError = function(error) {
     $scope.location_available = 'false';
     alert('unable to get location: ' + error.message);
   };

  $scope.source_history = [];
  $scope.changeSource = function(name, latitude, longitude) {
    $scope.sourceModel = {name: name, latitude: latitude, longitude: longitude};
    $scope.source_addresses = [];
    if ( name == 'Current Location' ) {
      $scope.getCurrentLocation();
    }

    var matches = 0;
    for (var i = 0; i < $scope.source_history.length; i++) {
      if ($scope.source_history[i].name == name) {
        matches++;
      }
    }
    if (matches == 0) {
      $scope.source_history.push({name: name, latitude: latitude, longitude: longitude});
    }
  };
  $scope.dest_history = [];
  $scope.changeDest  = function(name, latitude, longitude) {
    $scope.destModel = {name: name, latitude: latitude, longitude: longitude};
    $scope.dest_addresses = [];
    if ( name == 'Current Location' ) {
      $scope.getCurrentLocation();
    }

    var matches = 0;
    for (var i = 0; i < $scope.dest_history.length; i++) {
      if ($scope.dest_history[i].name == name) {
        matches++;
      }
    }
    if (matches == 0) {
      $scope.dest_history.push({name: name, latitude: latitude, longitude: longitude});
    }
  };

  $scope.source_addresses = [];
  $scope.getSourceAddresses = function() {
    $http({ method: 'GET', url: 'https://maps.googleapis.com/maps/api/geocode/json?address=' + $scope.sourceModel.name}
         ).then(function successCallback(response) {
                  $scope.source_addresses = [{name:'Current Location', latitude:$scope.location.latitude, longitude:$scope.location.longitude}];
                  for (var i = 0; i < $scope.source_history.length; i++) {
                    $scope.source_addresses.push($scope.source_history[i]);
                  }
                  for (var i = 0; i < response.data.results.length; i++) {
                    var result = response.data.results[i];
                    var matches = 0;
                    for (var j = 0; j < $scope.source_history.length; j++) {
                      if ($scope.source_history[j].name == result.formatted_address) {
                        matches++;
                      }
                    }
                    if (matches == 0) {
                      $scope.source_addresses.push({ name: result.formatted_address, latitude: result.geometry.location.lat, longitude: result.geometry.location.lng });
                    }
                  }
                },
                function errorCallback(response) { });
  };

  $scope.dest_addresses = [];
  $scope.getDestAddresses = function() {
    $http({ method: 'GET', url: 'https://maps.googleapis.com/maps/api/geocode/json?address=' + $scope.destModel.name}
         ).then(function successCallback(response) {
                  $scope.dest_addresses = [{name:'Current Location', latitude:$scope.location.latitude, longitude:$scope.location.longitude}];
                  for (var i = 0; i < $scope.dest_history.length; i++) {
                    $scope.dest_addresses.push($scope.dest_history[i]);
                  }
                  for (var i = 0; i < response.data.results.length; i++) {
                    var result = response.data.results[i];
                    var matches = 0;
                    for (var j = 0; j < $scope.dest_history.length; j++) {
                      if ($scope.dest_history[j].name == result.formatted_address) {
                        matches++;
                      }
                    }
                    if (matches == 0) {
                      $scope.dest_addresses.push({ name: result.formatted_address, latitude: result.geometry.location.lat, longitude: result.geometry.location.lng });
                    }
                  }
                },
                function errorCallback(response) { });
  };
 });
  </script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
</head>
<body>
  <div ng-controller="Ctrl">
    <div class="container" ng-init="get_places()">
      <div class="container"> <!-- navigation -->
        <p>Choose Source:</p>
        <div class="topsearch" id="sourceSearch">
          <input type="text" id="source_address_input" placeholder="Source" ng-model="sourceModel.name" ng-change="getSourceAddresses()" />
          <a href="#" ng-click="changeSource(item.name, item.latitude, item.longitude); get_routes()" ng-repeat="item in source_addresses">{{item.name}}</a>
        </div>
        <p>Choose Destination:</p>
        <div class="topsearch" id="destSearch">
          <input type="text" id="dest_address_input" placeholder="Destination" ng-model="destModel.name" ng-change="getDestAddresses()" />
          <a href="#" ng-click="changeDest(item.name, item.latitude, item.longitude); get_routes()" ng-repeat="item in dest_addresses">{{item.name}}</a>
        </div>
      </div>
      <div class="container">  <!-- results table -->
        <h4>Route from {{sourceModel.name}} to {{destModel.name}}:</h4>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Points</th>
                <th>Total Distance</th>
                <th>Start</th>
                <th>End</th>
                <th>Start Distance</th>
                <th>End Distance</th>
                <th>Route</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in routes">
                <td>{{item.points}}</td>
                <td>{{item.total_distance}}</td>
                <td><a ng-href={{item.start_route}}>{{item.start_name}}</a></td>
                <td><a ng-href={{item.end_route}}>{{item.end_name}}</a></td>
                <td>{{item.start_distance}}</td>
                <td>{{item.end_distance}}</td>
                <td><a ng-href={{item.route}}>route</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
